h1{
    color: maroon;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
h6{
    font-style: italic;
}
img{
    border-radius: 233px;
}
#Header{
    color: purple;


}
.Wrapper{
    color: yellowgreen;
}